<!doctype html>

<meta charset="utf-8">
<title>Ergodicity</title>
<style>
html {
  height: 100%;
}
body {
  height: 100%;
  display: flex;
  margin: 0;
  font-family: sans-serif;
}
main {
  flex: 1;
}
aside {
  background-color: hsl(240, 6.25%, 87.5%);
  max-width: 20%;
  padding: 4px;
}
canvas {
  background-color: hsl(240, 6.25%, 12.5%);
  width: 100%;
  height: 100%;
}
#controls {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 8px;
}
label {
  font-weight: bold;
}
input {
  width: 7em;
}
button {
  grid-column-end: span 2;
}
</style>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<aside>
  <div id="controls">
    <label>Time</label>
    <input v-model.number="time">
    <label>Samples</label>
    <input v-model.number="samples">
    <label>Mean</label>
    <input type="checkbox" v-model="show_mean">
    <label>Reps</label>
    <input type="checkbox" v-model="show_reps">
    <label>Ensamble</label>
    <input type="checkbox" v-model="show_ensamble">
    <button onclick="regenerate()">Run</button>
  </div>
</aside>

<main>
  <canvas id="canvas"></canvas>
</main>

<script>

var controls = Vue.createApp({
  data() {
    return {
      time: 100,
      samples: 100,
      show_mean: true,
      show_reps: true,
      show_ensamble: false,
    }
  },
  watch: {
    time() { regenerate(); },
    samples() { regenerate(); },
    show_mean() { draw(); },
    show_reps() { draw(); },
    show_ensamble() { draw(); },
  },
}).mount('#controls')

const height = 100;
const margin = 100;

const ctx = canvas.getContext('2d');

const number_f = new Intl.NumberFormat('en-US', { notation: 'compact' });

var span;
var samples;

function Sample() {
  this.history = [ 100 ],

  this.draw = function(color) {
    ctx.strokeStyle = color;

    ctx.beginPath();
    ctx.moveTo(0, height);
    for (const [i,e] of this.history.entries()) {
      ctx.lineTo(span * i, (height / 2) * Math.log10(e));
    }
    ctx.stroke();
  };

  Object.defineProperties(this, {
    value: {
      get: function() { return this.history[this.history.length - 1]; },
      set: function(v) { this.history.push(v); },
    }
  });
}

function draw_background() {
  ctx.clearRect(-canvas.width, -canvas.height / 2, 2 * canvas.width, canvas.height);

  ctx.font = '16px monospace';
  ctx.fillStyle = 'hsl(0, 100%, 100%)';
  ctx.textAlign = 'center';
  ctx.textBaseline = 'middle';

  ctx.lineWidth = 1;

  ctx.strokeStyle = 'hsl(0, 100%, 100%, 75%)';
  ctx.beginPath();
  for (let i = -10; i < 10; i++) {
    ctx.moveTo(0, 0.5 * i * height);
    ctx.lineTo(ctx.canvas.width, 0.5 * i * height);
  }
  ctx.stroke();

  ctx.save();
  ctx.scale(1, -1);
  for (let i = -3; i < 10; i++) {
    ctx.fillText('$' + number_f.format(10 ** i), -(margin / 2), -0.5 * i * height);
  }
  ctx.restore();

  ctx.lineWidth = 2;

  ctx.strokeStyle = 'hsl(0, 100%, 100%)';
  ctx.beginPath();
  ctx.moveTo(0, 0);
  ctx.lineTo(ctx.canvas.width, 0);
  ctx.stroke();

  ctx.strokeStyle = 'hsl(120, 75%, 75%)';
  ctx.beginPath();
  ctx.moveTo(0, height);
  ctx.lineTo(ctx.canvas.width, height);
  ctx.stroke();
}

function draw() {
  draw_background();

  if (controls.show_ensamble || controls.show_reps) {
    const ordered = samples.sort((a,b) => a.value - b.value);

    if (controls.show_ensamble) {
      for (const [si,sample] of ordered.entries()) {
        const hue = si * 360 / controls.samples;
        sample.draw(`hsl(${hue}, 75%, 75%, 75%)`);
      }
    }

    if (controls.show_reps) {
      if (ordered.length >= 3) {
        ordered[0].draw('hsl(0, 75%, 75%)');
        ordered[Math.trunc(controls.samples / 2)].draw('hsl(60, 75%, 75%)');
        ordered[controls.samples - 1].draw('hsl(120, 75%, 75%)');
      } else {
        ordered[0].draw('hsl(60, 75%, 75%)');
      }
    }
  }

  if (controls.show_mean) {
    ctx.lineWidth = 4;

    const mean = new Sample();

    for (let ti = 0; ti < controls.time; ti++) {
      mean.value = samples.reduce((m, sample, si) => (m * si + sample.history[ti + 1]) / (si + 1), 0);
    }

    mean.draw('hsl(240, 75%, 75%)');
  }
}

function regenerate() {
  samples = new Array(controls.samples).fill(null).map(_ => new Sample());

  span = (canvas.width - margin) / controls.time;

  for (let sample of samples) {
    for (let ti = 0; ti < controls.time; ti++) {
      const heads = Math.random() >= 0.5;
      sample.value *= heads ? 1.5 : 0.6;
    }
  }
  draw();
}

function resize_canvas() {
  canvas.width = canvas.offsetWidth - 1;
  canvas.height = canvas.offsetHeight;

  span = (canvas.width - margin) / controls.time;

  ctx.translate(margin, canvas.height / 2);
  ctx.scale(1, -1);
  draw();
}

window.addEventListener('resize', resize_canvas, false);

regenerate();
resize_canvas();

</script>
